        <div id="corpo">
            <ul id="menu">
                <li><a href="#">Dayane Guanabara's ToDo list</a></li>
                <li><a href="paginas/about.html">About</a></li>
                <li><a href="paginas/reports.html">Reports</a></li>
                <li><a href="paginas/settings.html">Settings</a></li>
            </ul>
            <br class="clear" />
            <div id="primeiro" class="box">
            	<h2 id="todo-grande">ToDo</h2>
                <div class="list">
                	<ul id="inicio">
                      <%= form_for :task,:html => { :id => "edit_form" } ,:method => :put do %>
							<% @tasks.each do |t| %>
								<li data-json-url="/tasks/<%=t.id%>.json"><a href="#"></a><%= t.description %>.</li>  
							<% end %>
						<% end %>
						<li>
							<%= form_for @task do |t| %>
								<%= t.text_field :description, :id => "description" %>
							<% end %>
						</li>
                    </ul>
                </div>
            </div>
            <div class="box">
            	<h2 id="doing-grande">Doing</h2>
                <div class="list">
                	<ul id="meio">
						<% @tasks.each do |tasks| %>
							<li><a href="#"></a><%= tasks.description %>.</li>  
						<% end %>
                    </ul>
                </div>
            </div>
            <div class="box">
            	<h2 id="done-grande">Done</h2>
                <div class="list">
                	<ul id="final">
						<% @tasks.each do |tasks| %>
							<li><a href="#"></a><%= tasks.description %>.</li>  
						<% end %>
                    </ul>
                    <a href="#" id="historico">history</a>
                </div>
            </div>
        </div>          

	<script type="text/html" id="task_input">
      <input type='text' id='tasks[{{id}}]' name='tasks[{{id}}]' value='{{description}}'>
	</script>
